.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(#fff, .95);
  border-bottom: 1px solid var(--c-divider-gray);
  padding-left: 1.875em;
  padding-right: 1.875em;
  position: sticky;
  top: 0;
  z-index: 99;
}
