.layout {
  display: grid;
  grid-template-rows: 4.375em 1fr;
  background-color: transparent;

  main {
    background-color: transparent;
    max-width: 1440px;
    width: 100%;
    min-height: calc(100vh - 4.375em);
    margin: 0 auto;
    padding: 0 2rem;
  }
}
