:root {
  // COLORS

  --c-main-bg: #fafcff;
  --c-black: #181818;
  --c-white: #fff;
  --c-white-alt: #fafafa;
  --c-gray: rgba(70, 78, 95, 1);
  --c-gray-7: rgba(70, 78, 95, 0.7);
  --c-divider-gray: #eeeff3;
  --c-forest-green: #006818;
  --c-forest-red: #880000;

  // TRANSITIONS

  --t-main: all 300ms ease;
}
